body{
	margin: 0 auto;
	font-family: helvetica;
}
.header{
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	padding: 20px 0px 0px 20px;
	/*background-color: orange;*/
}
.logo{
	grid-column: 1/3;
}
.nav{
	grid-column: 4/12;
	word-spacing: 37px;
	margin-top: -7px;
}
.nav-login{
	grid-column: 21/24;
	margin-top: -5px;
}
.nav li{
	display: inline;
}
.nav-login li{
	display: inline;
	padding: 0px 30px 0px 0px;
}

		/* -- Slider -- */

.slider{
	background: url('../img/slider2.jpeg') no-repeat center center;
	min-height: 560px;
	border-top: 1px solid white;
	text-align: center;
	color: white;
}

.slider h1{
	padding: 127px 0px 0px 230px;
	font-size: 330%;
	width: 900px;
}
.slider p{
	font-size: 130%;
	margin-top: -15px;
}
.slider-button-1{
	background-color: #da2128;
	padding: 18px 30px;
	margin-right: 13px;
	color: white;
	border: 0px;
	font-size: 110%;
	border-radius: 35px;
}
.slider-button-2{
	background-color: #71bf44;
	padding: 18px 30px;
	margin-left: 13px;
	color: white;
	border: 0px;
	font-size: 110%;
	border-radius: 35px;
}

/* -- Content 1 Area -- */

.content-1{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	height: 182px;
	background: #ffffff;
}
.main-content{
	grid-column: 2/3;
	color: #58585a;
	margin-top: 0px;
	font-size: 130%;
	text-align: center;
	padding-top: 60px;
	line-height: 25px;
}

		/* -- features --*/

.features{
	background-color: #f8f8f8;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 30px 127px;
	grid-gap: 30px;
}
.feature-1{
	grid-column: 1/2;
	text-align: center;
	background: white;
	height: 545px;
}
.feature-2{
	grid-column: 2/3;
	text-align: center;
	background: white;
}
.feature-3{
	grid-column: 3/4;
	text-align: center;
	background: white;
}
.f-img{
	padding: 30px 0px 0px 0px;
}
.features p{
	padding: 0px 20px;
}

/* -- Content-2 -- */

.content-2{
	background: #f8f8f8;
	text-align: center;
	border: 1px solid #f8f8f8;
	padding: 0px 0px 30px 0px;
	margin-top: -10px;
}
.p-big{
	font-size: 180%;
}

/* -- Showcase --*/

.showcase{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align: center;
}
.showcase-element1{
	color: white;
	background-color: #bccf5a;
	padding: 43px 0px 55px 0px;
}
.showcase-element2{
	color: white;
	background: #d7ae76;
	padding: 43px 0px 0px 0px;
}
.showcase-element3{
	color: white;
	background: #5acfbc;
	padding: 43px 0px 0px 0px;
}
.showcase-element4{
	color: white;
	background: #dd9589;
	padding: 43px 0px 0px 0px;
}

	/* -- content 3 --*/

.content-3{
	text-align: center;
	font-size: 35px;
	height: 120px;
	background: #f8f8f8;
	margin: 0px 0px 0px 0px;
	border: 1px solid #f8f8f8;
}


.start-now{
	height: 210px;
	text-align: center;
}
.start-now img{
	padding: 60px 0px 0px 0px;
}

	/* -- lead box --*/

.lead-box{
	background: #68bf57;
	display: grid;
	height: 305px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px auto;
	color: white;
}
.lead-box h1{
	text-align: center;
	grid-column: 1/3;
	grid-row: 1/2;
}
.lead-box1{
	grid-column: 1/2;
	grid-row: 2/3;
	margin-left: 130px;
	text-align: right;
	padding-right: 30px;
}
.lead-box2{
	grid-column: 2/3;
	grid-row: 2/3;
	margin-right: 130px;
	text-align: left;
	padding-left: 30px;
}
.lead-box button{
	background: white;
	padding: 20px 40px;
	border: none;
	border-radius: 35px;
	color: green;
}

	/* -- Content 4 -- */

.content-4{
	text-align: center;
	font-size: 30px;
}

	/* -- Clients -- */

.clients{
	display: flex;
	height: 330px;
	text-align: center;
}























