body{
	margin: 0px;
	text-align: center;
	font-family: helvetica;
	color: white;
}
a{
	text-decoration: none;
}
button:hover{
	background: #38ef7d;
}
li{
	list-style-type: none;
}
button{
	padding: 15px 25px;
	border: 2px solid white;
	border-radius: 5px;
}

header{
	background: #11998e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 637px;
	text-align: center;
}
.header-top{
	display: flex;
	justify-content: space-between;
	margin: 0px 65px;
}
.logo{
	margin: 10px 0px;
}
.menu{
	width: 47%;
	margin: 30px 0px 0px 0px;
	color: white;
}
.menu ul{
	display: flex;
	justify-content: space-between;
}

/* -- slider --*/

.slider{
	margin: 127px 300px;
	padding: 10px 80px 27px;
	border: 3px solid white;
	border-radius: 4px;
}
.slider h1{
	text-transform: uppercase;
	font-size: 55px;
}

/* -- Projects --*/

.projects{
	margin: 10px 50px;
	padding: 30px 0px;
	color: black;
}
.frontend-showcase{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
	margin: 20px 0px 0px 0px;
}
.frontend-showcase-element{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding: 35px 0px;
	border-radius: 4px;
}

/* -- Footer -- */

.footer{
	display: flex;
	justify-content: space-between;
	padding: 30px 70px;
	color: white;
	background-color: black;
}
.social{
	width: 30%;
}
.social ul{
	display: flex;
	justify-content: space-between;
}