@media screen and (min-width: 500px){
    
    .navbar{
        padding: 15px 0px 3px 0px;
    }
    /* .navbar.shrink {
        padding: 10px 0px 8px;
    } */
    .hero{
        background: none;
        /* background-size: cover;
        background-position: right; */
    }
    .hero-img{
        display: block;
        margin: 87px 0px 0px;
    }
    .navbar-brand {
        margin-top: -13px;
    }
    .hero-content{
        padding: 115px 0px 180px;
        margin: 0px;
    }
    .name{
        font-size: 50px;
    }
    .designation{
        font-size: 25px;
        margin: 0px;
    }
    .social{
        margin: 10px 0px 0px;
    }
    .hero-button button.hire{
        background: #2b2b2d;
        color: white;
        padding: 13px 40px;
    }
    .hero-button button.resume{
        margin-left: 10px;
    }
    .work-content .res{
        padding-top: 0px;
    }
}