body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
ul{
    padding: 0px;
    margin: 0px;
}
ul li{
    list-style: none;
    display: inline;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}


/* .section-padd{
    padding: 110px 0px;
} */
.hero-img{
    display: none;
}
.title{
    font-size: 32px;
    font-weight: bold;
}
.exp-title{
    font-size: 32px;
    font-weight: bold;
}
.sub-title{
    font-size: 20px;
    padding-top: 14px;
}
.sub-title a {color:  #648dff;border-bottom: 2px dotted #648dff;}

.dotted-border {
    color:  #648dff;
    border-bottom: 2px dotted #648dff;
}
p.line-height {
    line-height: 25px;
}

a.project-link {
    border-bottom: 2px dotted #648dff;
    font-weight:  bold;
}






.shrink {
    background:  #252527;
    color:  white;
    position:  fixed;
    width:  100%;
    z-index:  999;
    transition: 0.2s ease-in;
}
.shrink .navbar-toggler{
    color: white;
}
.navbar-brand a{
    font-weight: bold;
    font-size: 25px;
}
li.nav-item {
    padding: 0px 13px;
    font-weight: bold;
}
.navbar a{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
.round{
    border: 2px solid #2b2b2d;
    border-radius: 39px;
    padding: 1px 17px 0px!important;
    margin-bottom: 10px;
    cursor: pointer;
}
.shrink .round {
    background: #373742e8;
    color: white;
    border: none
}
.fa-bars {
    font-size: 24px;
}



/* HERO */

.hero{
    background: linear-gradient(to right, #83a4d4, #b6fbff);
}

.hero-content{
    padding: 100px 0px 120px;
    margin: 0 auto;
}
.hlw{
    font-size: 32px;
    font-weight: 500;
}
.name{
    font-size: 45px;
    font-weight: bold;
}
.designation{
    font-size: 25px;
    margin: 10px 0px 0px;
}
.social{
    margin: 40px 0px 0px;
}
.social ul li{
    margin: 30px 6px 0px 0px;
}
.social ul li a{
    display: inline-block;
    color: white;
    padding: 10px 12px;
    font-size: 22px;
    background: #1969ff;
}
.hero-button{
    margin: 40px 0px 0px;
    margin-left: -3px;
}
.hero-button a{
    border-radius: 26px;
    border: none;
    background: none;
    text-transform: uppercase;
}
.hero-button a.hire{
    background: #2b2b2d;
    color: white;
    padding: 13px 30px 12px;
    cursor: pointer!important;
    transition: 0.1s ease-in;
}
a.hire:hover {
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.34);
    color: white!important;
}
a.resume{
    border: 2px solid #2b2b2d;
    padding: 13px 25px 12px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
}
a.resume:hover{
    background: #2b2b2d;
    color: white!important;
}




.exp-content{
    padding-top: 70px;
}
.exp-content i{
    font-size: 65px;
    color: #fed766;
}
.exp-title{
    padding-top: 10px;
}
.exp-des{
    padding-top: 15px;
    font-size: 16px;
    line-height: 26px;
    color: #7d7b7b;
}








.skill{
    padding: 110px 0px 110px;
}











.skill-name {
    font-size:  23px;
    font-weight:  bold;
    margin-bottom: 8px;
}

.skill-item {
    padding: 10px 0px;
}





.skill-2{
    background: #eeeeee;
    padding: 110px 0px;
}

.progress {
    background:  white;
    height: 5px;
}

.progress-bar {
    background:  black;
}












.work{
    background: #eeeeee;
    padding: 110px 0px 110px;
}

.work-content{
    padding: 90px 0px 0px;
}
.work-content .res{
    padding-top: 35px;
    margin: 0 auto;
    text-align: center;
}
/* .work-content img{
    display: block;
    border-radius: 12px;
} */
.work-title{
    font-size: 28px;
    font-weight: bold;
}
.work-subtitle{
    padding-top: 10px;
}
.work-des{
    margin-top: 30px;
}
.work-content button{
    margin-top: 40px;
    padding: 10px 35px 9px;
    border: 2px solid #fed766;
    border-radius: 40px;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.2s ease-in;
}
.work-content button:hover{
    background: #212529;
    color: #fed766;
    border: 2px solid #212529;
}





.personal-project{
    padding: 110px 0px;
}





.hire{
    background: #fed766;
    padding: 110px 0px;
}
.hire button, .theme-button{
    margin-top: 60px;
    padding: 13px 40px;
    border: 2px solid black;
    border-radius: 50px;
    background: none;
    cursor: pointer;
}




footer{
    background: #252a30;
    padding: 30px 0px;
    color: rgba(255, 255, 255, 0.6);
}
footer ul li a{
    padding: 10px 12px;
    border-radius: 50%;
}
footer ul li a:hover{
    background: #111314;
    color: #fed766;
}
.lgo{
    font-size: 50px;
}
