body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
    padding: 0px;
}
h1, h2, h3{
    font-family: bernadette;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul li{
    display: inline;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
    display: inline-block;
}
.section-pad{
    padding: 40px 0px 70px;
}
.strong{
    font-weight: bold;
}
.button{
    padding: 10px 25px 10px;
    border-radius: 26px;
    background: linear-gradient(to right, #c0392b, #8e44ad);
    color: white;
    text-transform: uppercase;
}
.button:hover{
    color: white;
}









header::after{
    content: "";
    background: linear-gradient(to right, rgba(248, 108, 48, 0.6), rgba(23, 70, 103, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.lf .col-md-6{
    padding: 8px;
}
.lf .col-md-6 img{
    border-radius: 8px;
}
.shrink{
    background: white;
    color: black;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    transition: 0.1s ease-in;
    top: 0;
}












header{
    background: url('assets/img/bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    z-index: 1;
}
header .navbar{
    padding: 10px 0px;
}
header .navbar-nav .nav-item{
    padding: 0px 7px;
}
.navbar-brand{
    font-weight: bold;
    font-size: 25px;
}
.hero-content{
    padding: 115px 0px 200px;
    text-align: center;
    max-width: 720px;
    margin: 0px auto;
}
.hero-content h1{
    font-size: 102px;
}
.hero-content .sub-title{
    font-size: 37px;
    font-weight: bold;
    padding: 35px 0px 3px;
}
.hero-content .button{
    background: white;
    color: black;
    font-weight: bold;
    transition: 0.1s ease-in;
}
.hero-content .button:hover{
    box-shadow: 3px 3px 49px rgba(255, 255, 255, 0.4);
}





.feature-1-card{
    border-radius: 7px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.24);
    position: relative;
    margin: 0px 0px 20px;
    cursor: pointer;
}
.feature-1-card img{
    border-radius: 7px 7px 0px 0px;
}
.card-content{
    padding: 0px 0px 30px;
}
.card-content h4{
    padding: 10px 0px;
}
.card-content p{
    padding: 0px 0px 10px;
}
.card-content a.button{
    margin-top: 15px;
}







.back{
    background: url('assets/img/bg2.jpeg') no-repeat;
    border-radius: 7px;
}





.feature-2 .container{
    position: relative;
}
.feature-2-card{
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    padding: 34px;
    max-width: 550px;
    height: 296px;
    text-align: center;
    position: absolute;
    top: 32%;
    left: 25%;
}







.services{
    position: relative;
}
.services-content{
    padding: 116px 170px 130px 155px;
    background: #f4f4f4;
}
.services-content h1{
    padding-bottom: 15px;
}
.services-content p.strong{
    padding-bottom: 7px;
}
.services-content p:nth-child(3){
    padding-bottom: 20px;
}
.yolo{
    padding: 0px;
    background: url('assets/img/33.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.services-card{
    background: linear-gradient(to left top, #3f519a, #de813c);
    color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    position: absolute;
    top: 13%;
    left: 47%;
}
.services-card .item{
    padding: 30px 25px;
}
.services-card .item i{
    font-size: 50px;
}








.team{
    text-align: center;
}
.team-gallery{
    background: #f4f4f4;
    position: relative;
    height: 237px;
    margin: 100px 0px 0px;
}
.team-gallery-card{
    padding: 0px 0px 15px;
    position: absolute;
    top: -65px;
}
.team-gallery-card img{
    border-radius: 7px;
}
.team-gallery-card p:nth-child(2) {
    padding-top: 18px;
}








.low{
    padding: 0px 66px 0px 120px;
}
.low .strong{
    padding: 15px 0px 6px;
}
.low > p{
    padding-bottom: 35px;
}
.progress{
    height: 10px;
    position: relative;
    margin-top: 12px;
}
.progress-bar{
    background: linear-gradient(to left, #3f519a, #de813c);
    height: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.rt{
    color: rgba(255, 255, 255, 0.9);
    background: linear-gradient(to left top, #3f519a, #de813c);
    padding: 48px 46px 0px 50px;
}
.member ul.social {
    padding: 310px 0px 0px 0px;
}
.member ul.social a {
    display: inline-block;
    padding: 12px;
    margin:  5px;
    background:  white;
    color:  black;
    border-radius:  50%;
    opacity:  0.9;
    font-size: 25px;
}












.pricing{
    padding: 
}
.pricing-left {
    background: linear-gradient(to left top, #3f519a, #de813c);
}
.pricing-left-card {
    background:  #ffffff;
    max-width:  257px;
    padding: 20px 45px;
    float:  right;
    box-sizing:  border-box;
}

.pricing-right {
    background:  #f4f4f4;
}



section.git {
    padding: 70px 0px 80px;
    background: rgba(0, 0, 0, 0.4);
}
.git .social a {
    height: 65px;
    width: 65px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0px 12px;
    position: relative;
    font-size: 30px;

}
.git ul.social li a i {
    position:  absolute;
    top:  17px;
    left: 18px;
}

section.git.section-pad {
    background: rgba(0, 0, 0, 0.3);
    margin: 0px auto;
    text-align: center;
}







footer{
    padding: 80px 0px 30px;
}
img.emg {
    display:  block;
    margin:  0px auto;
}
.copyright{
    padding: 50px 0px 0px;
}