<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Front-end focused software engineer with 3+ years of professional experience in the field fo web development with React, React Native, JavaScript. I own a proven track record in designing and implementing complex web applications.
    </p>

    <p>
      Collaborating in a team environment is a strength of mine as I possess excellent communication and problem-solving skills. One of my biggest strength is I can effectively push myself to achieve my goals.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I probably read books
    </p>

    {% include employment-status.html %}
  </div>
</section>