<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a full stack developer with professional expertise in the field of web
      development with javascript, python etc. Currently I’m doing BSc. in Computer Science & Engineering at
      <a class="underline-link" href="https://daffodilvarsity.edu.bd/" target="_blank">Daffodil International
        University</a>
    </p>

    <p>
      I have a strong passion over web technologies. My aim is to be a great skilled software developer. One of my
      biggest strength is I can effectively push myself to achieve my goals.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I probably read books or hang out with
      friends
    </p>

    {% include employment-status.html %}
  </div>
</section>