/*------------------------------------------------------------------
[Master Stylesheet]

Project Name: iChange Html Template
Version: 1.0.0
Author: Codeboxr
Website: http://codeboxr.com
Last Update: 06.06.2018
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents ]

 Body
    1.  Typography
	2.  Header / nav
	3.  Header / .hero-area
	4.  Petition Details Section / .petition-details
	5.  Petition Deliver Section / .recipient-area
	6.  Letter Section / .letter
	7.  Counter Section / .counter-area
	8.  Petition Update Section / .petition-update-area
	9.  News Section / .news
	10. Discussion Section / .discussion
	11. Petition Share Section / .share-petition
	12. Footer / footer
	13. Blogs Listing Page / #main.blog-listing
	14. Footer Section / footer
	15. Responsive
-------------------------------------------------------------------*/
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #49b648;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.10s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #49b648;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
/*TYPOGRAPHY*/
/* rules for body contents */
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  background: #ffffff;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
h1,
.h1 {
  font-size: 72px;
  font-size: 7.2rem;
  line-height: 1.5;
}
h1 a,
.h1 a {
  font-size: inherit;
  font-weight: inherit;
}
.h1-sm {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.5;
}
.h1-sm a {
  font-size: inherit;
  font-weight: inherit;
}
h2,
.h2 {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.5;
}
h2 a,
.h2 a {
  font-size: inherit;
  font-weight: inherit;
}
.h2-sm {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.5;
}
.h2-sm a {
  font-size: inherit;
  font-weight: inherit;
}
h3,
.h3 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.5;
}
h3 a,
.h3 a {
  font-size: inherit;
  font-weight: inherit;
}
.h3-sm {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5;
}
.h3-sm a {
  font-size: inherit;
  font-weight: inherit;
}
h4,
.h4 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5;
}
h4 a,
.h4 a {
  font-size: inherit;
  font-weight: inherit;
}
.h4-sm {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.5;
}
.h4-sm a {
  font-size: inherit;
  font-weight: inherit;
}
h5,
.h5 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.5;
}
h5 a,
.h5 a {
  font-size: inherit;
  font-weight: inherit;
}
.h5-sm {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
}
.h5-sm a {
  font-size: inherit;
  font-weight: inherit;
}
h6,
.h6 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
}
h6 a,
.h6 a {
  font-size: inherit;
  font-weight: inherit;
}
.h6-sm {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
}
.h6-sm a {
  font-size: inherit;
  font-weight: inherit;
}
p,
ul,
ol {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  color: inherit;
}
p {
  margin-bottom: 10px;
}
a,
a:hover,
a:focus {
  color: inherit;
}
a:hover,
a:hover:hover,
a:focus:hover {
  text-decoration: none;
}
.brand-color {
  color: #49b648;
}
.hashtag a {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.5;
}
p.letter {
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.5;
  font-weight: 400;
}
.btn-brand {
  padding: 14px 45px;
  display: inline-block;
  border: none;
  border-radius: 27px;
  background-color: #49b648;
  color: #fff;
  cursor: pointer;
}
.btn-brand-sm {
  display: inline-block;
  padding: 3px 20px;
  border-radius: 21px;
  color: #fff;
  background-color: #49b648;
  border: none;
  cursor: pointer;
}
.btn-brand-sm:hover {
  color: #fff;
}
.btn-brand-md {
  padding: 8px 50px;
  border: none;
  background-color: #49b648;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}
/*home Page*/
nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.24);
  background-color: #fff;
}
nav .navbar {
  padding: 0px;
}
nav .navbar .navbar-brand.logo-sm {
  padding: 5px 0px 5px 10px;
}
nav .navbar .navbar-brand.logo-lg {
  position: absolute;
  padding: 0px;
  top: 0;
  left: 50%;
  z-index: 999;
  margin-left: -170px;
}
nav .navbar .navbar-toggler {
  opacity: 0.8;
  margin-right: 20px;
  border: 2px solid;
}
nav .navbar .navbar-toggler:focus {
  outline: none;
}
nav .navbar .navbar-toggler i.fa-bars {
  font-size: 23px;
}
nav .navbar .navbar-collapse {
  background: #49b648;
}
nav .navbar .navbar-collapse ul {
  margin: 0px;
}
nav .navbar .navbar-collapse ul li {
  display: inline-block;
  font-family: 'Roboto slab';
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 0px 10px;
}
nav .navbar .navbar-collapse ul li a.nav-link {
  padding: 13px 2px;
}
h1 {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.5;
}
h1 a {
  font-size: inherit;
  font-weight: inherit;
}
h2 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.5;
}
h2 a {
  font-size: inherit;
  font-weight: inherit;
}
h3 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5;
}
h3 a {
  font-size: inherit;
  font-weight: inherit;
}
h4 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.5;
}
h4 a {
  font-size: inherit;
  font-weight: inherit;
}
h5 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
}
h5 a {
  font-size: inherit;
  font-weight: inherit;
}
h6 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
}
h6 a {
  font-size: inherit;
  font-weight: inherit;
}
.hero-area {
  background: url('../img/hero/hero-bg.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding-bottom: 120px;
}
.hero-area:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-area .hero-area-content {
  padding: 180px 0px 110px;
  text-align: center;
  color: #fff;
}
.hero-area .hero-area-content h1 {
  font-size: 50px;
  font-size: 5rem;
  line-height: 1.5;
}
.hero-area .hero-area-content h1 span {
  color: #fd3c3d;
}
.hero-area .hero-area-content .hashtag a {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 0px 5px;
  border-bottom: 2px solid;
  padding: 0px 2px;
}
.hero-area .hero-area-content .btn-hero {
  margin-top: 50px;
  font-size: 18px;
}
.hero-area .petition-stat {
  background: #fff;
  padding: 20px 0px 60px;
  color: #000;
  border-radius: 20px;
  margin-top: 30px;
}
.hero-area .petition-stat .petition-stat-title {
  justify-content: center;
  margin: 0px 0px 13px;
}
.hero-area .petition-stat .petition-stat-title h3 {
  font-weight: 400;
}
.hero-area .petition-stat .petition-stat-title p {
  font-weight: bold;
  opacity: 0.8;
}
.hero-area .petition-stat .progressbar-wrapper {
  background: #121619;
  padding: 30px;
  border-radius: 20px;
}
.hero-area .petition-stat .progressbar-wrapper .progress {
  height: 25px;
  border-radius: 20px;
}
.hero-area .petition-stat .progressbar-wrapper .progress .progress-bar {
  background: linear-gradient(to right, #ff5a4a, #ffc104);
}
.petition-details {
  padding: 100px 0px 95px;
}
.petition-details h2 {
  margin-bottom: 25px;
}
.petition-details .hosts .host:after {
  display: none;
}
.petition-details .hosts .host img {
  border-radius: 20px;
  border: 2px solid #49b648;
}
.petition-details .hosts .host .host-details {
  margin-top: 5px;
  padding-left: 8px;
}
.petition-details .hosts .host .host-details h6 {
  line-height: 20px;
}
.petition-details .hosts .co-host:after {
  display: none;
}
.petition-details .hosts .co-host img {
  border-radius: 20px;
  border: 2px solid #49b648;
}
.petition-details .hosts .co-host .host-details {
  margin-top: 5px;
  padding-left: 8px;
}
.petition-details .hosts .co-host .host-details .host-title {
  color: #49b648;
}
.petition-details .hosts .co-host .host-details h6 {
  line-height: 20px;
}
.petition-details .petition-content p {
  margin: 30px 0px 0px;
  font-size: 16px;
  line-height: 25px;
}
.petition-details .petition-support {
  margin-top: 10px;
}
.petition-details .petition-support h6 {
  font-family: 'Roboto', sans-serif;
}
.petition-details .photo-gallery {
  margin-top: 70px;
}
.petition-details .photo-gallery h3 {
  margin-bottom: 15px;
}
.petition-details .photo-gallery .slider-nav .slick-prev {
  left: 30px;
  z-index: 999;
}
.petition-details .photo-gallery .slider-nav .slick-prev::before {
  font-size: 25px;
}
.petition-details .photo-gallery .slider-nav .slick-next {
  right: 30px;
  z-index: 999;
}
.petition-details .photo-gallery .slider-nav .slick-next::before {
  font-size: 25px;
}
.petition-details .photo-gallery .slider-nav .slick-dots {
  bottom: -30px;
}
.petition-details .photo-gallery .slider-nav .slick-dots li button::before {
  font-size: 10px;
}
.supporters {
  text-align: center;
  box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.1);
  padding: 38px 0px;
}
.supporters .supporters-title {
  margin-bottom: 22px;
}
.supporters .supporters-block {
  display: inline-block;
  margin: 8px 0px;
  border: 3px solid #49b648;
  overflow: hidden;
  border-radius: 20px;
}
.supporters .supporters-block img {
  width: 120px;
  height: 95px;
}
.supporters .supporters-block .supporter-name {
  background: #49b648;
  color: #fff;
  padding: 7px 0;
  font-size: 12px;
}
.recipient-area {
  background: #49b648;
  padding: 70px 0px 90px;
}
.recipient-area h4 {
  background: #49b648;
  padding: 10px 50px;
  display: inline-block;
  color: #fff;
  border-radius: 45px;
}
.recipient-area .recipeint-card {
  background: #fff;
  text-align: center;
  border-radius: 7px;
}
.recipient-area .recipeint-card a {
  padding: 11px 30px;
  display: block;
}
.recipient-area .recipeint-card a p {
  margin-bottom: 4px;
}
.letter {
  background-color: #212b37;
  padding: 100px 0;
}
.letter .letter-content {
  color: #fff;
}
.letter .letter-content p {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: 'Pacifico', cursive;
  margin-bottom: 38px;
}
.counter-area {
  background: #49b648;
  padding: 88px 0px 74px;
}
.counter-area .counter-block {
  text-align: center;
}
.counter-area .number {
  font-size: 60px;
  color: #fff;
  font-weight: 100;
  margin-bottom: 31px;
}
.counter-area .counter-title {
  font-size: 26px;
  color: #fff;
  font-weight: 100;
  opacity: 0.9;
}
.petition-update-area {
  background: #e1e8f2;
  margin: 0px;
  padding: 100px 0px;
}
.petition-update-area h2 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.5;
}
.petition-update-area h2 a {
  font-size: inherit;
  font-weight: inherit;
}
.petition-update-area h3 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5;
}
.petition-update-area h3 a {
  font-size: inherit;
  font-weight: inherit;
}
.petition-update-area .petition-update {
  box-shadow: none;
}
.petition-update-area .petition-update .petition-update-card {
  text-align: center;
}
.petition-update-area .petition-update .petition-update-date {
  background: #49b648;
  color: #fff;
  width: 130px;
  font-size: 14px;
  text-align: center;
  padding: 7px 0px 6px;
  font-weight: bold;
  border-radius: 7px;
  opacity: 1.0;
}
.news {
  padding: 50px 0px;
}
.news h2 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.5;
}
.news h2 a {
  font-size: inherit;
  font-weight: inherit;
}
.news h3 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5;
}
.news h3 a {
  font-size: inherit;
  font-weight: inherit;
}
.news .news-img-area {
  position: relative;
}
.news .news-title {
  margin-top: 13px;
}
.news .news-title a.more {
  color: #49b648;
}
.news .date-line {
  position: absolute;
  color: #fff;
  bottom: 4px;
  left: 35px;
  width: 87%;
  display: flex;
  justify-content: space-between;
}
.news .date-line .date {
  font-weight: bold;
}
.news .date-line .reaction {
  display: flex;
  justify-content: space-between;
  width: 107px;
  color: #49b648;
}
.news .date-line .reaction p:nth-child(1) {
  padding: 0px 10px;
  background: #49b648;
  color: #fff;
  border-radius: 21px;
  font-size: 12px;
}
.news .date-line .reaction i {
  margin: 4px 0px 0px 6px;
}
.discussion {
  background: #e1e8f2;
  padding: 120px 0px;
}
.discussion ul li {
  list-style: none!important;
}
.discussion .discussion-title-area {
  margin: 0px;
  border-bottom: 2px solid;
}
.discussion .discussion-title-area .discussion-title {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.5;
}
.discussion .discussion-title-area .comments {
  margin-top: 22px;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
}
.discussion .discussion-body ul {
  margin: 0px;
  padding: 0px;
}
.discussion .discussion-body ul li ul {
  padding-left: 50px;
}
.discussion .discussion-body ul li .comment {
  border-bottom: 1px solid #000;
}
.discussion .discussion-body ul li .comment img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.discussion .discussion-body ul li .comment .comment-content {
  margin-right: 10px;
}
.discussion .discussion-body ul li .comment .comment-content .comment-author {
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
}
.discussion .discussion-body ul li .comment .comment-content .comment-date {
  font-family: 'Roboto', sans-serif;
  opacity: 0.8;
  font-weight: 500;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.5;
}
.discussion .discussion-body ul li .comment a.reply-button {
  font-size: 12px;
  font-weight: bold;
}
.discussion form.form-control {
  padding: 0px;
  color: #000;
  border: none;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: transparent;
}
.discussion form.form-control p:nth-child(1) {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 25px;
}
.discussion input:focus {
  outline: none;
}
.discussion input.name,
.discussion input.email {
  width: 100%;
  padding: 15px 0px 15px 25px;
  border-radius: 44px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.discussion .text {
  width: 100%;
  border-radius: 10px;
  padding: 15px 0px 0px 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.discussion .text:focus {
  outline: none;
}
.discussion input[type="submit"] {
  font-weight: bold;
  float: right;
  cursor: pointer;
  text-transform: uppercase;
}
.blog-area {
  padding-bottom: 100px;
}
.blog-area .single-blog-card {
  margin-top: 45px;
  color: rgba(0, 0, 0, 0.8);
}
.blog-area .single-blog-card .line {
  height: 1px;
  width: 100%;
  background: #7f8c97;
  opacity: 0.5;
}
.blog-area .single-blog-card header {
  background: #fff;
  display: block;
}
.blog-area .single-blog-card header .single-blog-meta {
  padding: 15px 22px 0px;
}
.blog-area .single-blog-card header .single-blog-meta p {
  margin: 14px 0px;
}
.blog-area .single-blog-card header .single-blog-meta p.date {
  font-size: 12px;
  margin: 10px 0px;
  font-style: italic;
}
.blog-area .single-blog-card .single-blog-content {
  background: #fff;
  padding: 15px 20px;
}
.blog-area .single-blog-card .single-blog-content h6 {
  margin-top: 30px;
}
.blog-area .single-blog-card .single-blog-content i.fa-quote-right {
  font-size: 53px;
}
.blog-area .single-blog-card .social-share {
  background: #49b648;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  margin-top: 15px;
}
.blog-area .single-blog-card .social-share .social-share-inner h4 {
  display: inline-block;
}
.blog-area .single-blog-card .social-share .social-share-inner ul.social {
  display: inline-block;
  padding: 0px;
  margin-left: 10px;
}
.blog-area .single-blog-card .social-share .social-share-inner ul.social li {
  list-style: none;
  display: inline;
}
.blog-area .single-blog-card .social-share .social-share-inner ul.social li a {
  background: #fff;
  color: #49b648;
  width: 27px;
  line-height: 27px;
  display: inline-block;
  text-align: center;
  margin: 0px 2px;
  font-size: 18px;
}
.blog-area .single-blog-card .social-share ul.reaction {
  padding: 0px;
  margin-top: 11px;
}
.blog-area .single-blog-card .social-share ul.reaction li {
  list-style: none;
  display: inline;
  margin-left: 10px;
}
.blog-area .single-blog-card .social-share ul.reaction li a i.fa {
  margin-right: 2px;
}
.modal-content {
  border: 0px;
  border-radius: 50px;
  border: 3px solid #49b648;
  background: #000;
  color: #49b648;
  padding: 12px 14px 22px;
  position: relative;
}
.modal-content button {
  opacity: 1.0;
}
.modal-content button i.fa-times {
  position: absolute;
  top: -8px;
  right: -8px;
  color: #e74c3c;
  background: #fff;
  font-size: 26px;
  border-radius: 31px;
  z-index: 999;
  width: 40px;
  line-height: 40px;
}
.modal-content button:hover {
  opacity: 1.0;
}
.modal-content .modal-body input {
  width: 100%;
  background: #000;
  border: 1px solid #49b648;
  padding: 10px 16px;
  border-radius: 36px;
  color: rgba(255, 255, 255, 0.9);
}
.modal-content .modal-body input:focus {
  outline: none;
}
.modal-content .modal-body textarea {
  width: 100%;
  background: #000;
  border: 1px solid #49b648;
  padding: 10px 16px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.9);
}
.modal-content .modal-body textarea:focus {
  outline: none;
}
.modal-content .modal-body a.button {
  display: block;
  background: #49b648;
  color: #fff;
  text-align: center;
  margin-top: 15px;
  padding: 11px 0px;
  border-radius: 39px;
  font-weight: bold;
}
.sidebar .sidebar-wrapper {
  padding-top: 4px;
  display: flex;
}
.sidebar .sidebar-wrapper .sidebar-area-title {
  font-size: 21px;
  font-weight: 500;
}
.sidebar .sidebar-wrapper .search-area {
  background: #fff;
}
.sidebar .sidebar-wrapper .search-area .search-area-inner {
  position: relative;
}
.sidebar .sidebar-wrapper .search-area .search-area-inner input[type="search"] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
}
.sidebar .sidebar-wrapper .search-area .search-area-inner input[type="search"]:focus {
  outline: none;
}
.sidebar .sidebar-wrapper .search-area .search-area-inner input[type="search"]::placeholder {
  opacity: 0.7;
}
.sidebar .sidebar-wrapper .search-area .search-area-inner i.fa.fa-search {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
}
.sidebar .sidebar-wrapper .categories-area {
  background: #fff;
  opacity: 0.8;
}
.sidebar .sidebar-wrapper .categories-area ul.categories-items {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.sidebar .sidebar-wrapper .categories-area ul.categories-items li.categories-item-single {
  transition: 0.1s ease-in;
}
.sidebar .sidebar-wrapper .categories-area ul.categories-items li.categories-item-single:hover {
  margin-left: 5px;
}
.sidebar .sidebar-wrapper .categories-area ul.categories-items li.categories-item-single a,
.sidebar .sidebar-wrapper .categories-area ul.categories-items li.categories-item-single a.active {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  padding: 5px 0px;
  margin-top: 2px;
  transition: 0.1s ease-in;
}
.sidebar .sidebar-wrapper .categories-area ul.categories-items li.categories-item-single a i,
.sidebar .sidebar-wrapper .categories-area ul.categories-items li.categories-item-single a.active i {
  margin-right: 5px;
}
.sidebar .sidebar-wrapper .popular-tags-area {
  background: #fff;
}
.sidebar .sidebar-wrapper .popular-tags-area ul.popular-tags {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}
.sidebar .sidebar-wrapper .popular-tags-area ul.popular-tags li.popular-tag-single a {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 3px 4px;
  display: inline-block;
  transition: 0.1s ease-in;
}
.sidebar .sidebar-wrapper .popular-tags-area ul.popular-tags li.popular-tag-single a:hover,
.sidebar .sidebar-wrapper .popular-tags-area ul.popular-tags li.popular-tag-single a.active {
  background: #49b648;
  color: #fff;
  border: 1px solid #49b648;
}
.contact {
  padding: 160px 0px;
}
.contact .contact-card {
  box-shadow: 0 0 31px rgba(0, 0, 0, 0.15);
}
.contact .contact-card .map {
  position: relative;
  z-index: 1;
}
.contact .contact-card .contact-field {
  padding: 30px 25px;
}
.contact .contact-card .contact-field h6 {
  text-transform: uppercase;
}
.contact .contact-card .contact-field form.form-control {
  padding: 0px;
  color: #000;
  border: none;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
}
.contact .contact-card .contact-field form.form-control label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  opacity: 0.9;
}
.contact .contact-card .contact-field form.form-control input,
.contact .contact-card .contact-field form.form-control textarea {
  width: 100%;
  padding: 5px;
  opacity: 0.7;
}
.contact .contact-card .contact-field form.form-control input:focus,
.contact .contact-card .contact-field form.form-control textarea:focus {
  outline: none;
}
.contact .contact-card .contact-field form.form-control input[type="submit"] {
  padding: 10px 0px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  opacity: 1.0;
}
.registration {
  padding: 25px 0px;
}
.registration input:focus {
  outline: none;
}
.registration .registration-card {
  padding: 20px 0px;
  position: relative;
}
.registration .registration-card .login-area {
  box-shadow: 0 0 31px rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.registration .registration-card .login-area p {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}
.registration .registration-card .login-area input {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 20px;
  border: 1px solid #49b648;
  text-align: center;
}
.registration .registration-card .login-area input:focus::placeholder {
  visibility: hidden;
}
.registration .registration-card .login-area input::placeholder {
  text-align: center;
  font-size: 13px;
}
.registration .registration-card .login-area input[type="submit"] {
  font-weight: bold;
}
.registration .registration-card .signup-area {
  margin-top: 30px;
  box-shadow: 0 0 31px rgba(0, 0, 0, 0.15);
  padding: 20px 15px 15px;
}
.registration .registration-card .signup-area h6 {
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5;
}
.registration .registration-card .signup-area .signup-field input[type="text"],
.registration .registration-card .signup-area .signup-field input[type="email"],
.registration .registration-card .signup-area .signup-field input[type="password"] {
  width: 100%;
  opacity: 0.7;
  padding: 4px 5px;
}
.registration .registration-card .signup-area .signup-field textarea {
  width: 100%;
  padding: 4px 5px;
}
.registration .registration-card .signup-area .signup-field textarea:focus {
  outline: none;
}
.registration .registration-card .signup-area .signup-field input[type="file"] {
  display: none;
}
.registration .registration-card .signup-area .signup-field input[type="file"] + label {
  padding: 9px 15px 6px;
  background: #f5f7fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0px 0px 5px;
  cursor: pointer;
}
.registration .registration-card .signup-area .signup-field input[type="file"] + label i {
  color: #49b648;
  margin-right: 6px;
  font-size: 17px;
}
.registration .registration-card .signup-area .signup-field input[type="submit"] {
  padding: 4px 30px;
  border-radius: 34px;
  font-weight: bold;
}
.registration .registration-card .signup-area .signup-field input[type=radio]:checked,
.registration .registration-card .signup-area .signup-field input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.registration .registration-card .signup-area .signup-field input[type=radio]:checked + label,
.registration .registration-card .signup-area .signup-field input[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
.registration .registration-card .signup-area .signup-field input[type=radio]:checked + label::before,
.registration .registration-card .signup-area .signup-field input[type="radio"]:not(:checked) + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.registration .registration-card .signup-area .signup-field input[type=radio]:checked + label::after,
.registration .registration-card .signup-area .signup-field input[type="radio"]:not(:checked) + label::after {
  content: '';
  width: 10px;
  height: 10px;
  background: #49b648;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.registration .registration-card .signup-area .signup-field input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.registration .registration-card .signup-area .signup-field input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.registration .registration-card .signup-area .signup-field label {
  font-weight: 700;
}
.registration .registration-card .signup-area .signup-field .agreement-field .agreement-checkbox-wrapper {
  display: flex;
  margin: 7px 0px;
}
.registration .registration-card .signup-area .signup-field .agreement-field .agreement-checkbox-wrapper label {
  font-weight: normal;
  font-size: 12px;
}
.page-title-area {
  padding: 175px 0 130px;
  background: url('../img/hero/hero-bg.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.page-title-area:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
}
.page-title-area h1 {
  color: #49b648;
}
.page-title-area h6 {
  color: #fff;
}
.page-title-area .button {
  padding: 14px 45px;
  border-radius: 27px;
  font-weight: 700;
  margin-top: 50px;
}
.page-title-area .button:focus {
  outline: none;
}
.blog-area {
  background: #f2f2fa;
}
.blog-area .blog-card-area .blog-card {
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.blog-area .blog-card-area .blog-card figure {
  position: relative;
}
.blog-area .blog-card-area .blog-card figure::before {
  content: "";
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.blog-area .blog-card-area .blog-card figure figcaption {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7px;
  margin: 0px auto;
  padding: 0px 15px;
  color: #fff;
}
.blog-area .blog-card-area .blog-card figure figcaption .author-details .author-img {
  width: 40px;
  height: auto;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  margin-right: 7px;
}
.blog-area .blog-card-area .blog-card figure figcaption .author-details .author-name {
  margin: 0px;
  display: inline-block;
}
.blog-area .blog-card-area .blog-card figure figcaption .author-details small {
  display: block;
}
.blog-area .blog-card-area .blog-card figure figcaption .reaction {
  list-style: none;
  padding: 0px;
  margin: 14px 0px 0px;
  display: flex;
}
.blog-area .blog-card-area .blog-card figure figcaption .reaction li:not(:last-child) {
  margin-right: 9px;
}
.blog-area .blog-card-area .blog-card figure figcaption .reaction a {
  color: #fff;
}
.blog-area .blog-card-area .blog-card figure figcaption .reaction a i.fa {
  margin-right: 3px;
}
.blog-area .blog-card-area .blog-card .blog-content-main .blog-title {
  font-size: 20px;
  font-weight: bold;
}
.blog-area .blog-card-area .blog-card .blog-content-main a.button {
  padding: 4px 22px 3px;
  background: #49b648;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-weight: bold;
  border-radius: 16px;
}
footer {
  background: #49b648;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
}
footer ul.footer-navbar {
  margin: 0px;
}
footer ul.footer-navbar li.list-inline-item {
  margin: 0px 7px;
  font-size: 17px;
}
footer p {
  color: #fff;
  font-size: 15px;
  margin: 15px 0px 0px 0px;
}
.share-petition {
  padding: 90px 0px 90px;
  background: url('../img/share/share.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1;
}
.share-petition:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.share-petition ul.social {
  list-style: none;
  padding: 0px;
}
.share-petition ul.social li {
  display: inline;
  width: 60px;
  height: 60px;
}
.share-petition ul.social li a {
  border: 3px solid #49b648;
  border-radius: 13px;
  text-align: center;
  display: inline-block;
  transition: 0.1s ease-in;
  width: 60px;
  line-height: 60px;
  margin: 7px;
  font-size: 25px;
}
/*RESPONSIVE STYLE */
/*------------------------------------------------------------------

- Extra large devices (large desktops, 1200px and up)
- Large devices (desktops, 992px and up)
- Medium devices (Tablets, 768px and up)
- Small devices (landscape phones, 576px and up)

-------------------------------------------------------------------*/
@media screen and (min-width: 576px) {
  .hero-area .hero-area-content h1 {
    font-size: 60px;
    font-size: 6rem;
    line-height: 1.5;
  }
  .hero-area .hero-area-content .hashtag a {
    font-size: 27px;
    font-size: 2.7rem;
    line-height: 1.5;
  }
  .petition-update-area h2.section-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1.5;
  }
  .petition-update-area h2.section-title a {
    font-size: inherit;
    font-weight: inherit;
  }
  .news h3.news-title {
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 1.5;
  }
  .share-petition {
    padding: 90px 0 90px;
  }
  .share-petition ul.social li a {
    width: 80px;
    line-height: 80px;
    margin: 10px;
    border-radius: 30px;
    font-size: 35px;
  }
  .modal-content {
    padding: 35px 50px;
  }
}
@media screen and (min-width: 768px) {
  nav .navbar .navbar-brand.logo-sm {
    margin: 4px 0px 5px 20px;
  }
  nav .navbar button.navbar-toggler {
    margin-top: 5px;
  }
  nav .navbar .navbar-toggler i.fa-bars {
    font-size: 30px;
  }
  h2.section-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1.5;
  }
  h2.section-title a {
    font-size: inherit;
    font-weight: inherit;
  }
  .hero-area .hero-area-content h1 {
    font-size: 72px;
    font-size: 7.2rem;
    line-height: 1.5;
  }
  .hero-area .hero-area-content .hashtag a {
    font-size: 27px;
    font-size: 2.7rem;
    line-height: 1.5;
  }
  .photo-gallery .slider-for .single-slide {
    max-height: 315px;
  }
  .photo-gallery .slider-nav:hover .slick-prev {
    left: 30px;
    z-index: 999;
  }
  .photo-gallery .slider-nav:hover .slick-prev::before {
    display: block;
  }
  .photo-gallery .slider-nav:hover .slick-next {
    right: 30px;
    z-index: 999;
  }
  .photo-gallery .slider-nav:hover .slick-next::before {
    display: block;
  }
  .photo-gallery .slider-nav .slick-prev::before {
    font-size: 25px;
    display: none;
    transition: 0.2s ease-in;
  }
  .photo-gallery .slider-nav .slick-next::before {
    font-size: 25px;
    display: none;
    transition: 0.2s ease-in;
  }
  .letter .letter-content p {
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.5;
  }
  .news h3.news-title {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.5;
  }
  .news h3.news-title a {
    font-size: inherit;
    font-weight: inherit;
  }
  .discussion .discussion-title-area h2.discussion-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1.5;
  }
  .discussion .discussion-title-area h2.discussion-title a {
    font-size: inherit;
    font-weight: inherit;
  }
  .discussion .discussion-title-area h4.comments {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.5;
  }
  .discussion .discussion-title-area h4.comments a {
    font-size: inherit;
    font-weight: inherit;
  }
  .share-petition {
    padding: 90px 0 90px;
  }
  .share-petition ul.social li a {
    width: 100px;
    line-height: 100px;
    margin: 24px;
    font-size: 40px;
  }
  footer {
    padding: 27px 0px;
  }
  footer p {
    font-size: 17px;
    margin: 0px;
  }
  .modal-content {
    padding: 35px 50px;
  }
  .registration {
    padding: 80px 0px;
  }
  .registration .registration-card {
    box-shadow: 0 0 31px rgba(0, 0, 0, 0.15);
    padding: 60px 0px;
  }
  .registration .registration-card .login-area {
    margin-top: 75px;
    box-shadow: none;
  }
  .registration .registration-card .login-area p {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .registration .registration-card .login-area:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: #49b648;
    top: 0;
    right: 0;
  }
  .registration .registration-card .signup-area {
    box-shadow: none;
    margin: 0px;
    padding: 0px 25px 0px 15px;
  }
  .contact .contact-card .contact-field {
    padding: 30px 40px 30px 15px;
  }
  .contact .contact-card .contact-field form input[type="submit"] {
    display: inline-block;
    width: 120px;
    border-radius: 25px;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 72px;
    font-size: 7.2rem;
    line-height: 1.5;
  }
  h1 a {
    font-size: inherit;
    font-weight: inherit;
  }
  h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1.5;
  }
  h2 a {
    font-size: inherit;
    font-weight: inherit;
  }
  h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 1.5;
  }
  h3 a {
    font-size: inherit;
    font-weight: inherit;
  }
  h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.5;
  }
  h4 a {
    font-size: inherit;
    font-weight: inherit;
  }
  h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.5;
  }
  h5 a {
    font-size: inherit;
    font-weight: inherit;
  }
  .h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .h6 a {
    font-size: inherit;
    font-weight: inherit;
  }
  nav {
    background-color: #49b648;
    transition: 0.1s;
  }
  nav.scroll {
    background-color: #fff;
  }
  nav.scroll .navbar .navbar-brand.logo-sm img {
    display: block!important;
  }
  nav.scroll .navbar .navbar-brand.logo-lg img {
    display: none;
  }
  nav.scroll .navbar .navbar-collapse {
    flex-grow: 0;
    margin-left: auto;
    background: transparent;
  }
  nav.scroll .navbar .navbar-collapse .navbar-nav a.nav-link {
    color: #49b648;
  }
  nav .navbar {
    padding: 0px;
    position: relative;
  }
  nav .navbar .navbar-brand.logo-sm img {
    display: none;
  }
  nav .navbar ul.navbar-nav li.nav-item a.nav-link {
    padding: 25px 2px;
    position: relative;
  }
  nav .navbar ul.navbar-nav li.nav-item a.nav-link:hover::after {
    display: block;
  }
  nav .navbar ul.navbar-nav li.nav-item a.nav-link::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    left: 0;
    bottom: 0;
    display: none;
  }
  .hero-area .header-area-content h1 {
    font-size: 72px;
    font-size: 7.2rem;
    line-height: 1.5;
  }
  .hero-area .header-area-content .hashtag a {
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.5;
  }
  .petition-stat .petition-stat-title p {
    margin-top: 21px;
  }
  .hosts .host {
    position: relative;
    padding-right: 5px;
  }
  .hosts .host:after {
    content: "";
    position: absolute;
    margin-top: 1px;
    height: 85%;
    width: 3px;
    background: #121619;
    top: 0;
    right: -15px;
    display: block;
  }
  .hosts .host img {
    border-radius: 20px;
    border: 2px solid #49b648;
  }
  .hosts .host .host-details {
    margin-top: 5px;
    padding-left: 8px;
  }
  .hosts .host .host-details .host-title {
    color: #49b648;
  }
  .hosts .host .host-details h6 {
    line-height: 20px;
  }
  .hosts .co-host img {
    width: 60px;
    margin: 8px 0px 0px 10px;
    height: auto;
    border-radius: 20px;
    border: 2px solid #49b648;
  }
  .hosts .co-host .host-details {
    margin-top: 10px;
    padding-left: 8px;
  }
  .hosts .co-host .host-details .host-title {
    color: #49b648;
  }
  .hosts .co-host .host-details h6 {
    line-height: 18px;
    margin-bottom: 0;
    font-size: 14px;
  }
  .hosts .co-host .host-details p {
    margin: 0;
    line-height: 18px;
  }
  .letter .letter-content .letter-content-inner p {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 1.5;
  }
  .news {
    padding: 80px 0px 85px;
  }
  .news h2.section-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  .news h2.section-title a {
    font-size: inherit;
    font-weight: inherit;
  }
  .news h3.news-title {
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.5;
  }
  .news h3.news-title a.more {
    color: #49b648;
  }
  .discussion .discussion-body ul li ul {
    padding-left: 145px;
  }
  .discussion .discussion-body ul li ul li .comment-content {
    margin-right: 10px;
  }
  .discussion .discussion-body ul li ul li a.reply-button {
    margin-left: -24px;
  }
  .share-petition ul.social li a {
    border: 3px solid #49b648;
    border-radius: 40px;
    text-align: center;
    margin: 25px;
    width: 120px;
    display: inline-block;
    font-size: 45px;
    line-height: 120px;
    transition: 0.1s ease-in;
  }
  .modal-content {
    padding: 35px 50px;
  }
  .registration .registration-card .login-area {
    padding: 20px 50px;
  }
  .registration .registration-card .signup-area .signup-field {
    padding: 0px 30px 0px 20px;
  }
  .registration .registration-card .signup-area .signup-field .agreement-field {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .registration .registration-card .signup-area .signup-field .agreement-field p {
    margin: 7px 0px 0px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .news h2.section-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  .news h2.section-title a {
    font-size: inherit;
    font-weight: inherit;
  }
  .news h3.news-title {
    font-size: 34px;
    font-size: 3.4rem;
    line-height: 1.5;
  }
  .news h3.news-title a.more {
    color: #49b648;
  }
  .modal-content {
    padding: 35px 50px;
  }
  .contact .contact-card .contact-field {
    padding: 30px 40px 30px 15px;
  }
  .contact .contact-card .contact-field form input,
  .contact .contact-card .contact-field form textarea {
    padding: 7px;
  }
}
@media screen and (max-width: 992px) {
  .container-area.container {
    max-width: 100%;
    padding: 0;
  }
}
/* added to style the switch button , need for demo purpose only */
/* ==========================================================================
        Style Switcher CSS
========================================================================== */
.cbx-switcher-area {
  position: fixed;
  top: 35%;
  right: 0;
  max-width: 300px;
  z-index: 1891;
}
.cbx-switcher-inner {
  position: relative;
}
.cbx-switcher-btn {
  font-weight: bold;
  background: #49b648;
  font-size: 25px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1892;
  padding: 5px;
}
.cbx-switcher-btn:hover,
.cbx-switcher-btn:active,
.cbx-switcher-btn:focus {
  color: #ffffff;
}
.cbx-switcher-body {
  background: rgba(230, 230, 230, 0.93);
  padding: 10px;
  width: 260px;
  position: absolute;
  top: 0;
  right: -280px;
}
.cbx-switcher-list li {
  height: 30px;
  width: 30px;
  float: left;
  display: inline-block;
  margin: 10px;
}
.cbx-switcher-list li a {
  width: 100%;
  height: 100%;
  display: block;
}
.cbx-list-default {
  background: #446cb3;
}
.cbx-list-red {
  background: #e74c3c;
}
.cbx-list-green {
  background: #2ec887;
}
.cbx-list-blue {
  background: #3498db;
}
.cbx-list-olive {
  background: #559137;
}
.cbx-list-violet {
  background: #9933cc;
}
.cbx-list-pink {
  background: #FF69B4;
}
.cbx-list-navy {
  background: #3b5998;
}
.cbx-list-orange {
  background: #f5740a;
}
.cbx-switcher-text {
  margin-left: 50px;
}
/* ==========================================================================
        //CBX  Theme Style End
========================================================================== */
