@media screen and (min-width: 600px) {
    .copyright{
        width: 100%;
        text-align: right;
    }
    .hero-content{
        padding: 180px 0px;
    }
    .hero img{
        max-width: 200px;
        height: auto;
        padding: 100px 0px 0px 0px;
        display: block;
    }
    .left{
        text-align: left!important;
    }
    .right{
        text-align: right!important;
    }
    .padd .rt{
        padding-right: 90px;
    }
}