body{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none!important;
}
ul li{
    list-style: none;
}
.title{
    color: #648bfe;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
.title-white{
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
button{
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}
.shrink{
    background: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: 0.2s ease-in;
}
.shrink-down{
    background: #648dff;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.shrink a.nav-link, .shrink .navbar-brand a{
    color: #648dff;
}





header{
    background: url('../img/wave.png');
}

.navbar a{
    color: white;
}
.navbar-brand{
    color: white;
}
.navbar-toggler i{
    color: white;
}
.nav button{
    float: right;
}
.hero-title{
    font-size: 40px;
    font-weight: bold;
}
.hero-content{
    padding: 100px 0px;
    color: white;
}
.hero-content p{
    padding: 20px 0px;
}
.hero-content .hero-button button{
    color: white;
    border: none;
    padding: 9px 25px;
    border-radius: 5px;
    font-size: 15px;
}
.hero-content .hero-button button.first{
    background: #fc6a41;
}
.hero-content .hero-button button.second{
    background: #4466c8;
}

.hero img{
    display: none;
}





.features{
    padding: 100px 0px 100px;
}
.headline{
    padding-bottom: 70px;
}
.features-content{
    padding: 0px 0px 0px 10px;
}






.widgets{
    padding: 50px 0px 100px;
}


.screenshot{
    padding: 50px 0px 50px;
}
.screenshot img{
    max-width: 200px;
    height: auto;
}
.screenshot-content{
    padding: 100px 0px 0px 0px;
}
.screenshot-content .title{
    padding: 10px 0px;
}
.screenshot-content img{
    width: 100px;
    height: auto;
}
.padd{
    padding: 60px 0px;
}




.testimonials{
    padding: 100px 0px 100px;
}
.testimonial-speech{
    padding: 40px 0px;
}
.comma{
    font-weight: bold;
    color: #648dff;
    font-size: 50px;
}





.download{
    background: url('../img/phone image.png');
    background-size: cover;
    color: white;
    padding: 100px 0px;
}
.download-content p{
    padding: 30px 0px 15px;
}
.store img{
    display: inline-block;
}








footer{
    background: #343855;
    color: rgba(255, 255, 255, 0.7);
    padding: 30px 0px;
}